

.input__box{
    width: 100%;
    background-color: #9724a7;
    padding: .5rem;
    border-radius: .5rem;
}

.input__box input{
    background-color: transparent;
    border: 0;
    width: 100%;
    outline: none;
    color: #fff;
}

.input__box input::placeholder {
    color: #978b99;
    font-weight: 500;
    text-transform: capitalize;
    
  }